
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}


#PID-scada-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  left: 500px;
  background-image: url("../images/PID.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
  background-color: #ffffff;
}