
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}


#scada {
  position: relative;
  width: 2600px;
  height: 1300px;
  left: 100px;
  background-image: url("../images/PID.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
  background-color: #ffffff;
}